{% extends 'main/base.html' %}

{% block content %}
<div class="container">
    <div class="forms">
        <h3>ユーザー登録</h3>
        <form action="{% url 'main:signup' %}" method="post">
    {% csrf_token %}
    {% if signup_form.errors %}
        <div class="errorlist">
            {% for errors in signup_form.errors.values %}
                {% for error in errors %}
                    {{ error }}<br>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    {% for field in signup_form %}
        <div class="field">
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}

    <div class="field">
        <button type="submit" class="btn btn-info btn-block">新規登録</button>
    </div>
</form>
    <p><a href= "{% url 'main:login' %}">ログインはこちら</a></p>
    <!-- <p><a href= "{% url 'main:login' %}">パスワードを忘れた場合</a></p> -->
</div>
</div>
{% endblock %}
